<?xml version="1.0"?>
<launch>
  <node pkg="cartographer_ros" type="cartographer_dev_output_pbstream_trajectories" name="cartographer_dev_output_pbstream_trajectories" output="screen" args="--pbstream_file /media/derek/Samsung_T5/data/bag/yida.bag.pbstream --pcd_file /home/derek/biaoding.pcd --output_file /home/derek/trajectory.txt
" />
</launch>
